/* .fa-fish {
  font-size: 1.5rem;
  margin-right: -.5rem;
} */

.jumbotron {
  background: white;
  color: rgb(239, 77, 9);
  margin-bottom: 3rem;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(25, 28, 31);
}

#title {
  font-size: 3rem;
}

.form-group {
  margin: 0 auto;
  max-width: 90%;
}

#shop-name-button {
  margin-left: 1rem;
}

.form-control:focus {
  border-color: rgba(239, 77, 9, 0.1);
  box-shadow: 0 0 0 .2rem rgba(239, 77, 9, 0.7);
}

#shop-being-viewed {
  margin: 1rem auto;
  font-size: 1.4rem;
}

.share {
  position: relative;
  top: -184px;
  font-size: 2rem;
  margin: 0 .8rem;
}

.fa-cloud {
  text-shadow: -.2rem -.2rem 0 white, .2rem -.2rem 0 white;
}

.fa-at{
  text-shadow: -.3rem 0 0 white, .2rem 0 0 white, .2rem .3rem 0 white;
}
.fa-question-circle {
  text-shadow: -.2rem 0 0 white, .2rem 0 0 white, .3rem 0 0 white, -.3rem 0 0 white;
}

.uhoh {
  margin: 0 auto;
}

a:link {
  /* color: #343a40; */
  color: rgb(239, 77, 9);
}
a:visited {
  color: rgb(239, 77, 9);
}

#word-cloud {
    position:relative;
    min-width: 90%;
    max-width: 800px;
    height: auto;
    margin:0 auto;
}

svg {
    /* position:absolute; */
}

#main-content {
  margin: 0 auto;
  max-width: 90%;
}

.card-columns {
  column-count: 1;
}

.blockquote {
  font-size: 2rem;
}

@media screen and (min-width: 100rem) {
  .card-columns {
    column-count: 2;
  }
  #title {
    font-size: 5rem;
  }

  .share {
    position: relative;
    top: -193px;
    font-size: 3rem;
    margin: 0 .8rem;
  }

  #shop-being-viewed {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 170rem) {
  .card-columns {
    column-count: 3;
  }

  #title {
    font-size: 6rem;
  }
}


/* @media screen and (min-width: 80rem) {
  .fa-fish {
    font-size: 2.3rem;
    margin-right: .5rem;
  }

} */
