/* .fa-fish {
  font-size: 1.5rem;
  margin-right: -.5rem;
} */

.jumbotron {
  background: white;
  color: rgb(239, 77, 9);
  margin-bottom: .1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(25, 28, 31);
}

#title {
  font-size: 1.5rem;
}

.share {
  position: relative;
  top: -.75rem;
  font-size: 1.3rem;
  margin: 0 .8rem;
}

.fa-cloud {
  text-shadow: -.1rem -.1rem 0 white, .1rem -.1rem 0 white;
}

/* .fa-at{
  text-shadow: -.1rem 0 0 white, .1rem 0 0 white, .1rem -.25rem 0 white;
} */

.fa-question-circle {
  text-shadow: -.2rem 0 0 white, .2rem 0 0 white;
}

.fa-patreon{
  text-shadow: -.2rem 0 0 white, .2rem 0 0 white;
}

#alerts {
  text-align: center;
}

.form-group {
  margin: 0 auto;
  max-width: 90%;
}

.form-elements{
  padding: .25rem .5rem;
  font-size: 16px;
  line-height: 1.5rem;
}

.form-control {
  max-width: 55%;
}

.form-control:focus {
  border-color: rgba(239, 77, 9, 0.1);
  box-shadow: 0 0 0 .2rem rgba(239, 77, 9, 0.7);
}

#shop-being-viewed {
  margin: .8rem auto 1.5rem;
  font-size: .8rem;
}

.uhoh {
  margin: 0 auto;
}

a:link {
  /* color: #343a40; */
  color: rgb(239, 77, 9);
}
a:visited {
  color: rgb(239, 77, 9);
}

#word-cloud {

  display: inline-block;

  /* position:relative; */
  margin: 0 auto 1rem;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
}
/* svg {
    position:absolute;
} */

#main-content {
  margin: 0 auto;
  max-width: 90%;
}

.card-columns {
  column-count: 1;
}

.blockquote {
  font-size: 1.1rem;
}

.clickable {
  cursor: pointer;
}


@media screen and (min-width: 23rem) {
  .jumbotron {
    padding: 1.3rem 0;
  }

  #title {
    font-size: 1.8rem;
  }

  .share {
    top: -.84rem;
    font-size: 1.5rem;
  }

  .form-control {
    max-width: 60%;
  }

  #shop-being-viewed {
    margin: 1rem auto 2rem;
    font-size: .9rem;
  }

  .blockquote {
    font-size: 1.3rem;
  }
}


@media screen and (min-width: 40rem) {
  .card-columns {
    column-count: 2;
  }

  #title {
    font-size: 2.3rem;
  }

  .form-elements{
    margin: .8rem;
  }

  .form-control {
    max-width: 70%;
  }

  #shop-being-viewed {
    margin: .4rem auto 1.6rem;
    font-size: .9rem;
  }

}


@media screen and (min-width: 60rem) {
  .card-columns {
    column-count: 3;
  }

  #title {
    font-size: 3rem;
  }

  .form-elements{
    padding: .5rem 1rem;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  #shop-being-viewed {
    font-size: 1.1rem;
  }

  .blockquote {
    font-size: 1.35rem;
  }

}


@media screen and (min-width: 80rem) {
  #title {
    font-size: 3.5rem;
  }

  .share {
    top: -1rem;
    font-size: 1.7rem;
  }

  .form-elements{
    /* padding: .5rem 1rem; */
    font-size: 1.35rem;
    line-height: 1.7rem;
  }

  .blockquote {
    font-size: 1.6rem;
  }

}
